*{
    margin:1.5px;
    padding:1.5px;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#F5F5F5;
}

label{
    font-size: large;
}

.ticket-card{
    width:90%;
    max-width:900px;
    margin:30px auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 30px;
    background:white;
    border:1px solid #d9d9d9;
    border-radius:15px;
}

.ticket-info h3{
    font-size:28px;
}

.ticket-info h4{
    font-size:20px;
    margin-top:10px;
}

.ticket-info p{
    color:#666;
}

.route{
    display:flex;
    align-items:center;
    gap:20px;

    margin-top:10px;
}

.ticket-price{
    text-align:right;
}

.ticket-price h3{
    font-size:28px;
}

.ticket-price p{
    color:#666;
}

.section-title{
    width:90%;
    max-width:900px;
    margin:30px auto 15px auto;
    font-size:20px;
    font-weight:700;
    letter-spacing:6px;
}

.form-section{
    margin-bottom:35px;
}

.card-box{
    width:90%;
    max-width:900px;
    margin:0 auto;
    background:white;
    border:3px solid #006d6f;
    border-radius:22px;
    padding:25px;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

.section-header-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.title-radio-group,
.id-radio-group{
    display:flex;
    gap:40px;
}

.radio-container{
    display:flex;
    align-items:center;
    gap:8px;
    font-size:18px;
    cursor:pointer;
}

input[type="radio"]{
    width:22px;
    height:22px;
    accent-color:#006d6f;
}

.form-group{
    margin-bottom:15px;
}

.form-group input{
    width:100%;
    height:48px;
    border:1px solid #d9d9d9;
    border-radius:12px;
    padding:0 15px;
    font-size:18px;
}

.helper-text{
    margin-top:6px;
    font-size:13px;
    color:#b7b7b7;
}

.required-star{
    color:red;
}

.identity-section{
    margin-top:25px;
}

.identity-label{
    display:block;
    margin-bottom:15px;
    font-size:18px;
    font-weight:bold;
}

#passenger-id{
    width:60%;
}

.copy-contact{
    display:flex;
    align-items:center;
    gap:10px;
    color:#8b8b8b;
    font-size:18px;
}

.submit-container{
    width:90%;
    max-width:900px;
    margin:35px auto;
}

.btn-submit{
    width:100%;
    height:65px;
    border:none;
    border-radius:15px;
    background:#ef2020;
    color:white;
    font-size:18px;
    font-weight:bold;
    letter-spacing:3px;
    cursor:pointer;
    transition:0.3s;
}

.btn-submit:hover{
    background:#d81818;
}